body{
    margin: 0;
}
html{
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
}
#mainheader{
    background-image: url(companylogoBG.jpg);
    background-size: cover;
    background-position: bottom;
    width: 960px;
    margin: auto;
    /*Text properties*/
    font-family: "Berlin Sans FB";
    font-size: 5em;
    font-weight: 500;
    color:#FFFFFF; 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /*Text outlining*/
    -moz-text-fill-color: #fde;
    -webkit-text-fill-color: #fde;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #000000;
    -moz-text-stroke-width: 3px;  
    -webkit-text-stroke-width: 3px;
}
nav{
    background-color:#606060;
    color: #ffffff;
    width: 960px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #FFFFFF;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    /*Text properties*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}
a:link{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}
a:visited{
    color: #FFFFFF;
}
section{
    width: 960px;
    margin: auto;
}
.splitheader{
    width: 960px;
    height: 230px;
    margin: auto;
    background-color: #2699FB;
    /*Test properties*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
    color: #FFFFFF;
}
.homeimg{
    flex-direction: column;
    background-position: center;
    background-size: cover;
    width: 960px;
    margin: auto;
}
